<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Calidad del aire es un Grupo de trabajo ciudadano y participativo con la finalidad de medir la contaminación de la ciudad.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Calidad del aire es un Grupo de trabajo ciudadano y participativo con la finalidad de medir la contaminación de la ciudad.</title>

 		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
    	<link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

		 <!-- Add to homescreen for Safari on iOS -->
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
	    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

	    <!-- Tile icon for Win8 (144x144 + tile color) -->
	    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
	    <meta name="msapplication-TileColor" content="#3372DF">

	    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
	    <!--
	    <link rel="canonical" href="http://www.example.com/">
	    -->

		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		
		
		
	</head>

	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
	  		<div class="mdl-layout__drawer">
		   	 	<span class="mdl-layout-title">Guardianes del aire</span>
		    	<nav class="mdl-navigation">
			    	<a class="mdl-navigation__link" href="/">Mapa</a>
			    	<a class="mdl-navigation__link" href="/participa">Participa</a>
			    	<a class="mdl-navigation__link" href="/sobre-nosotros">Sobre nosotros</a>
		    	</nav>
	  		</div>
			<main class="mdl-layout__content">
				<h2>Sobre nosotros</h2>
				<section>
					<h3>Descripción</h3>
					<p>
						La contaminación atmosférica es una cuestión de gran preocupación en España y Europa por sus conocidos efectos perjudiciales en la salud y el medio ambiente [EEA2005]. Para realizar su seguimiento y control, existen redes públicas de vigilancia de estos contaminantes atmosféricos que emplean estaciones automáticas y otros mecanismos pasivos.
					</p>
					<p>
						Las administraciones públicas que las gestionan, realizan también campañas de divulgación y establecen canales de información para informar sobre estas cuestiones.
						Sin embargo, a pesar de de estas medidas, la población española [Artículo OCU, Abril 2013] y europea en general [EUR2013] piensa que la información recibida sobre las cuestiones relacionadas con la calidad del aire es insuficiente, así como la percepción de sus riesgos en la salud.
					</p>
					<p>
						Durante los últimos años, la necesidad creciente de información sobre contaminación atmosférica y el auge de los movimientos de software y hardware libre, así como el abaratamiento de ciertos dispositivos microelectrónicos de medición de contaminantes atmosféricos, ha motivado que aparezcan comunidades de ciudadanos que despliegan sus propias redes de sensores medioambientales de bajo coste (http://www.airqualityegg.com o http://www.smartcitizen.me/). Sin embargo, estos dispositivos microelectrónicos todavía adolecen de problemas de calibración, fiabilidad y estabilidad y requieren conocimientos técnicos  muy específicos que dificultan su uso por personas sin estos conocimientos especializados.
					</p>
					<p>
						Existen otros mecanismos de medición de ciertos contaminantes, como los captadores pasivos, también conocidos como tubos de difusión [TL2008], que son más fáciles de utilizar y que permiten obtener medidas fiables de concentraciones de contaminantes a largo plazo, y que ya han sido empleados en experiencias de ciencia ciudadana y campañas de medición apoyadas en ciudadanos en otros países [SNB2011].
					</p>
					<p>
						En España, el uso de estos mecanismos pasivos para estudios de contaminación atmosférica se realiza principalmente desde organismos de investigación [REC2012].
					</p>
					<p>
						Todo el conocimiento generado: código fuente, datos, estudios etc. será publicado con licencias libres y abiertas. Se fomentará que los artículos científicos que pudieran derivarse de estos trabajos se publiquen en revistas de acceso abierto.
					</p>
				</section>
				<section>
					<h3>Acerca de..</h3>
						<h4>Félix Pedrera (Geoinquietos, OKF Spain)</h4>
							<p>Félix Pedrera es Jefe de Proyectos de I+D en Elecnor Deimos y socio de la Asociación de Conocimiento Abierto España. Es licenciado en Ciencias Físicas en la Universidad Autónoma de Madrid.</p>
							<p>Durante más de 10 años ha trabajado en proyectos de desarrollo de software con tecnologías Web y móviles, enfocándose en los últimos años a la coordinación de proyectos de I+D tanto nacionales como internacionales, con interés en combinar tecnologías Web, móviles y geoespaciales.</p>
							<p>En la Asociación de Conocimiento Abierto España (OKF Spain) participa en cuestiones relacionadas con los datos medioambientales, interesado en promover la apertura y el fácil acceso a los datos.</p>
							<p>Participa también en la agrupación Geoinquietos de Madrid.
							</p>
						<h4>Gabriel Herrero-Beaumont (Bluemove, Makespace)</h4>
							<p>Es Licenciado en Administración y Dirección de Empresas en CUNEF. Sus primeros años de experiencia profesional fueron en Banca. Con 25 años inició su primera empresa en el sector de las energías renovables, Nexer Renovables.</p>
							<p>En 2010, Gabriel fundó Bluemove una empresa de carsharing con 200 coches distribuidos en Madrid y Sevilla. En Bluemove es responsable del área de tecnología y marketing. Durante estos cinco años Gabriel ha desarrollado fuertes capacidades en el área de desarrollo de software, usabilidad, diseño, gestión de bases de datos y marketing online.</p>
							<p>Además es cofundador de Makespace Madrid primer laboratorio de fabricación digital de Madrid. Es especialista en Innovación abierta y crowdsourcing. Le apasiona el desarrollo de proyectos con impacto social y medioambiental.</p>
						<h4>César García Sáez (Makespace)</h4>
							<p>César García es administrador de sistemas, especializado en virtualización. Estudió Informática Técnica de Sistemas y Estudios de Asia Oriental en la UOC. Dentro de esta rama se especializó en el estudio teórico del Budismo Zen, e inició  posteriormente estudios de psicología.</p>
							<p>Ha participado en múltiples iniciativas dentro del ámbito de Medialab-Prado, como Lab2Labo el taller Prosumidores. Está involucrado activamente con el grupo de Género y Tecnología, así como con el grupo de Arduino de los Viernes Openlab. Fue promotor igualmente de los grupos Malabares de 8-bit en el taller Jugando con Números y MercaMadrid: Una topología visual de las redes de alimentos en la ciudad de Madrid en el taller internacional Visualizar'11: Comprender las infrastructuras. Junto con Gorka Cortazar y el colectivo Laramascoto, participó en el festival Intransit 2011 de nuevos creadores, organizado por la UCM.</p>
							<p>Actualmente colabora activamente en la materialización del proyecto Data Citizen Driven City, impulsado por Sara Alvarellos, y desarrollado junto a Jorge Medal y Sara Thomson, dentro del marco de los Viernes Openlab. Así mismo, organiza los eventos sobre Internet de las Cosas y las Personas en el ámbito de Madrid, en conexión con otras ciudades como Amstermdam, Londres y Nueva York.</p>
				</section>

				<section>
					<h3>Referencias</h3>
						<ul>
						<li>EEA2005
						Environmental European Agency. (2005). EEA report 10/2005 - Environment and health. http://www.eea.europa.eu/publications/eea_report_2005_10</li>
						<li>EUR2013
						Eurobarometer Flash 360 (2013). Attitudes of Europeans towards air quality http://ec.europa.eu/public_opinion/flash/fl_360_en.pdf</li>
						<li>TL2008
						Targa, J. and Loader, A.. 2008. Diffusion Tubes for Ambient NO 2 Monitoring: Practical Guidance for Laboratories and Users. http://laqm.defra.gov.uk/documents/0802141004_NO2_WG_PracticalGuidance_Issue1a.pdf</li>
						<li>SNB2011
						Swift, Adam, Neil Parry, and Barbara Rimmington. 2011. Community & Council Air Pollution 2010 Monitoring Measuring Nitrogen Dioxide Using Diffusion Tubes. http://broomhillairqualitysymposium.org.uk/wp-content/uploads/2012/02/Community-Diffusion-Tube-Report-2011.pdf .</li>
						<li>REC2012
						Reche, C. et al. 2012. Urban NH3 levels and sources in a Mediterranean environment. Atmospheric Environment, 57. http://dx.doi.org/10.1016/j.atmosenv.2012.04.02 .</li>
						</ul>
				</section>

				<section>
					<h3>Meet up</h3>
					<p>Si quieres estar al tanto de nuestras reuniones regístrate en nuestro meetup de guardianes del aire: <a href="http://www.meetup.com/Guardianes-del-Aire/">Meetup Guardianes del aire</a></p>
				</section>
		  	</main>
		</div>
		<script src="https://cdn.supportkit.io/supportkit.min.js"></script>
		<script>SupportKit.init({appToken: 'ahiq9p3wenzf9blq495g6rj1a'});</script>
	</body>
</html>
